@model FrontendPrincipal.Models.Casa

@{
    ViewData["Title"] = "Confirmar Reserva";
}

<div class="container mt-4">
    <h1 class="mb-4">Confirmacion de Reserva</h1>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Nombre</h5>
            <p class="card-text">
                <strong>Ubicación:</strong> @Model.Ubicacion<br />
                <strong>Precio:</strong> $@Model.Precios<br />
                @Model.Descripcion
            </p>
        </div>
    </div>

    <div class="mt-4">

        <div class="mt-4">
            <h5>Detalles de la Reserva</h5>
            <p>
                <strong>Fecha de Inicio:</strong> @ViewData["fechaInicio"] <br />
                <strong>Fecha de Fin:</strong> @ViewData["fechaFin"]
            </p>

            <div class="mt-4">
                <a href="/Reservaciones/Reservar" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>

    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-4">
            @TempData["SuccessMessage"]
        </div>
    }
</div>
